@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: #d0cbc4;
    --surface: #faf9f6;

    --primary: #d6b77a;
    --secondary: #c7c5c0;

    --foreground: #292725;
    --muted: #66615b;

    --border: #000000dc;
}

.dark {
    --background: #1f1e1d;
    --surface: #1e1c19;

    --primary: #c5a564;
    --secondary: #a9a59e;

    --foreground: #f5f3ef;
    --muted: #c7c5c0;

    --border: #35322d;
}

html,
body {
    min-height: 100%;
}

body {
    background: var(--background);
    color: var(--foreground);
}